ssi-bot.ini
praw.ini
bot-db.sqlite3*
pushshift.sqlite3*
translobotomy.sqlite3*
zampano.sqlite3*
models/*
model_finetuning/json_data/*
model_finetuning/*.sqlite3
model_finetuning/dataset.ini
model_finetuning/training_output*
#model_finetuning/*.txt
cache_dir/*
core

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.vscode/launch.json
